<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cbsintegration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/b28e00a1-a7b4-4c95-a88f-cef257918d0d/resourceGroups/indofinnet/providers/Microsoft.Web/sites/cbsintegration</ResourceId>
    <UserName>$cbsintegration</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cbsintegration.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>